# Python
__pycache__/
*.pyc

# Virtual environment
venv/
venv312/

# Database
database/*.db

# Environment variables
.env

# Large datasets
dataset/*.csv
dataset/*.xls
dataset/*.xlsx

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/